# Python 相關檔案
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
.pybuilder/
target/
.ipynb_checkpoints
profile_default/
ipython_config.py
__pypackages__/
.pdm.toml
.pdm-python
.pdm-build/

# 測試與覆蓋率報告
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
TEST*.xml

# 日誌與資料庫
*.log
pip-log.txt
pip-delete-this-directory.txt
local_settings.py
db.sqlite3
db.sqlite3-journal
celerybeat-schedule
celerybeat.pid
*.sage.py

# 環境與虛擬環境
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE 與編輯器
.idea/
.spyderproject
.spyproject
.ropeproject
.ruff_cache/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
cython_debug/

# 文檔與網站
/site
docs/_build/
instance/
.webassets-cache
.scrapy

# 套件管理
#.python-version
#Pipfile.lock
#uv.lock
#poetry.lock
#pdm.lock
.pypirc

# 系統生成檔案
.DS_Store
Thumbs.db

# 媒體與大型檔案
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
*.csv
*.jar
*.app
*.exe
*.war

# 專案特定檔案
csv_img/
archive/
test.py
node_modules/

# 其他語言編譯檔
*.class
*.mo
*.pot
